Source: collectd
Section: unknown
Priority: extra
Maintainer: vagrant <vrakoton@gmail.com>
Build-Depends: debhelper (>= 9.0.0), autotools-dev
Standards-Version: 3.9.2
Homepage: http://collectd.org/files/collectd-5.4.1.tar.gz

Package: collectd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: statistics collection and monitoring daemon 
 collectd is a small daemon which collects system information periodically and
 provides mechanisms to monitor and store the values in a variety of ways.
 Since the daemon doesn't need to startup every time it wants to update the
 values it's very fast and easy on the system. Also, the statistics are very
 fine grained since the files are updated every 10 seconds by default.
 .
 The collected information can be used to find current performance bottlenecks
 (performance analysis) and predict future system load (capacity planning).
 .
 This package contains the main program file and the plugins listed below (some
 of those plugins require additional libraries - for more details see
 /usr/share/doc/collectd-core/README.Debian.plugins) but no configuration. For
 a full installation (including configuration), see the "collectd" package.
 This package allows sites to, e.g., provide customizations (like a custom
 default configuration) on top of it without having to modify the "collectd"
 package.
